[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
seaborn = "*"
pandas = "*"
matplotlib = "*"
openai = "*"
numpy = "*"
scikit-learn = "*"
ipykernel = "*"
tiktoken = "*"
transformers = "*"
datasets = "*"
peft = "*"
evaluate = "*"
bitsandbytes = "*"
accelerate = "*"
loralib = "*"
optimum = "*"
auto-gptq = "*"
trl = "*"
torch = "*"

[requires]
python_version = "3.10"
